*{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    height: 50px;   
}
.logo{
    display: flex;
    background-image: url(../assets/logo.png);
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.cadastro{
    border-radius: 6px;
    outline: none;
    background:white;
    text-decoration: solid;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.cadastro:hover{
    background-color:rgb(253, 253, 235);
    cursor: pointer;
    transition: 0.3s;
}
.login{
     border-radius: 6px;
    outline: none;
    background:white;
    text-decoration: solid;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 10px;
}
.conteudo{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    
}
.conteudo::before{
    content: "";
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
    background-size: cover; 
    background-image: url(../assets/background4.png);
    z-index: -1;
    padding: 100px;
    
}
.introducao{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 590px;
}
.introducao h1{
    font-weight: 900;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: -0.05em;
    line-height: 0.9;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.glossario{
    display: flex;
    position: relative;
    overflow-y:hidden;
     background-image:url(../assets/background2.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
     justify-content: space-evenly;
}
.cartoes{
  display: flex;
  gap: 50px;
  padding: 100px;

}

.monstros{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    width: 380px;
    height: 500px;
}
.footer{
    display: flex;
    background-color: white;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.imagemM1{
    background-image: url(../assets/apitos.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.imagemM2{
    background-image: url(../assets/camadas.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}
.imagemM3{
    background-image: url(../assets/monstros.png);
    background-size: cover;
     height: 100%;
    width: 100%;
    border-radius: 5px;
    
    
}
.aumento:hover{
    transform: scale(1.4);
    transition: transform 0.5s ease;

}
.descricaoAbismo{
    width: 50%;
    background-size: cover;
    font-weight: 1000;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-right: 10px;
    height: 500px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
.caracteristicasAbismo{
    width: 50%;
    font-style: oblique;
    height: 500px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 19px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    text-align: center;
}
.caracteristicasAbismo h1{
    
}
.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-style: oblique;
    color:chocolate;
    text-shadow: 2px 2px 8px black;
    font-size: 30px;
    text-align: center;
}
.imagemAbismo{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    margin-top: 10px;
    background: beige;
     padding: 5px;
    border-radius: 10px;
}
#imagem1{
    background-image: url(../assets/abismo1.jpg);
    width: 33%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}
#imagem2{
    background-image: url(../assets/abismo2.jpg);
    width: 33%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}
#imagem3{
    background-image: url(../assets/abismo3.jpg);
    width: 33%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}
.barra{
    border-right: 2px solid black;
    height: 50px;
}